.isHidden {
    display: none;
}

i.icon-colored {
    color: rgba(255,255,255, 1);
    background-color: rgba(80, 190, 66, 0.8);
}


/* INDEX */
body{
	font-family: "Alfa Slab One";
}

#mainPage .block_col>a {
    width: 55%;
    height: 7vh;
    line-height: 7vh;
}

#mainPage .btn i {
    font-size: 6vh;
}

#mainPage .btn {
    font-size: 2vh;
}

#mainPage h1 {
    font-size: 10vh;
}

#mainPage .container>.row:nth-child(1) {
    margin-top: 10vh;
}

#mainPage .container>.row:nth-child(3) {
    margin-top: 10vh;
}

#mainPage footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    font-style: italic;
}









/* PROFILES */

/* Used to center secondary-content (icons edit, delete, graph) */
#profilePage .collection .collection-item.avatar .secondary-content {
    top: 33%;
    height: 33%;
}

/* Used to margin-top icons*/
#profilePage .content {
    margin-top: 4px;
}

/* Used to center avatar on profiles page */
#profilePage .center-avatar {
    top:25%;
    left: 0%;
    position: absolute;
}

#profilePage .title {
    font-weight: bold;
}

#profilePage .btn-floating {
    margin-right: 7px;
}

#profilePage #addPlayer_btn {
    position: absolute;
    top: 2vw;
    right: 2vw;
    text-align: center;
    
}

#profilePage #nameToDelete {
    font-weight: bold;
}







/* NEW GAME */

/* container player-section */
#newgamePage #player-selection{
    height: 14vw;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#newgamePage #player-selection .waves-effect{
    width: 10vw;
    overflow: hidden;
    margin: 1vw;
    height: 10vw;
    line-height: 10vw;
    font-size: 2vw;
    padding: 0;
    text-align: center;
}

/* container form-new-game */
#newgamePage #form-new-game{
    margin-top: 2vh;
}

#newgamePage #row-form-new-game{
    margin-bottom: 0;
}

#newgamePage .btn-game-mode{
    margin-top: 2vh;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    font-size: 3vh;
}
#newgamePage .btn-game-mode>i{
    font-size: 6vh;
}

#newgamePage p {
    margin: 0;
}

#newgamePage .range-field{
    width: 80%;
    
}

#newgamePage input[type="range"]{
    margin-top: 0;
    margin-bottom: 10px;
}

#newgamePage #arrow_per_turn_inputContainer{
    width: 50%;
}

#newgamePage #section-start-game{
    text-align: center;
    margin-top: 4vh;
}

#newgamePage #section-start-game .btn{
    min-height: 5vh;
    min-width: 20vw;
    max-width: 40vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2vh;
}

#newgamePage #roomTitleInput {
    height: 15vh;
    font-size: 8vh;
}

#newgamePage #addPlayer_btn {
    position: absolute;
    top: 17vh;
    right: 2vw;
    text-align: center;
    width: 10vh;
    height: 10vh;
}

#newgamePage #addPlayer_btn i {
    width: 10vh;
    height: 10vh;
    font-size: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#newgamePage .input-field {
    margin-left: 25%;
}

#newgamePage .modal-content .row {
    margin-bottom: 0;
}

#newgamePage .inputGame {
    line-height: 3vh;
    font-size: 3vh;
    height: 3vh;

    /* CHANGED TO 6vh FOR PC */
    margin-top: 3vh;
}









/* GAME */
#gamePage {
    background-color: #e1f5fe;
}

#gamePage #hideTurns_btn {
    position: absolute;
    top: 10px;
    left: 31vw;
}

#gamePage #showTurns_btn {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* turns containers */
#gamePage #turnsContainer {
    position: absolute;
    top: 0;
    width: 30vw;
    height: 100vh;
    overflow-y: auto;
    margin: 2px;

    background-color: #81d4fa;

    z-index: 99;
}

#gamePage .rowTurn {
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;

    display: flex;
    flex-direction: row;
    border-top: 2px solid white;
}

#gamePage .turnPlayerName {
    height: 100%;
    width: 20%;
    background-color: #81d4fa;

    padding-left: 5px;
    padding-right: 5px;
}

#gamePage .arrows {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 0;
    background-color: #e1f5fe;
    margin-left: 1px;
}

#gamePage .arrow {
    min-width: 6vh;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 3vh;
}

#gamePage .modifyTurn {
    position: absolute;
    right: 0vw;
    background-color: #e1f5fe;
    color: #F44336 !important;
    margin: 5px;
    font-size: 3vh;
}


/* scroll bar */
@media (hover: hover) {
    /* CHROME SCROLLBAR */
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(100, 99, 99, 0.2);
    }


    /* FIREFOX SCROLLBAR */
    #gamePage .arrows {
        scrollbar-color: rgba(100, 99, 99, 0.5)  rgba(0,0,0,0.2);
        scrollbar-width: thin;
    }




    #newgamePage .inputGame {
        margin-top: 6vh;
    }
}




#gamePage #canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
}
#gamePage #canvasDiv {
    position: relative;
    width: min(80vw, 100vh);
    height: min(80vw, 100vh);
    margin: auto;
}

#gamePage .actualPlayer {
    opacity: 1;
    border-left: 3px solid green;
}

#gamePage .notActualPlayer {
    opacity: 0.5;
}

#gamePage #actualRound {
    border-bottom: 1px solid black;
}


#gamePage #totalPlayerScore {
    margin: 0;
    width: 20vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#gamePage .totalPlayer {
    min-height: 25vh;
    flex: auto;
}

#gamePage .playerPart {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#gamePage .playerPartItem {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}






#gamePage #leftArrowsPart {
    position: absolute;
    left: 10px;
    width: 9vh;
}

#gamePage #leftArrowsPart .arrowItem {
    padding: 0;
    background-color: transparent;
}

#gamePage #leftArrowsPart .arrowItem i {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7vh;
    height: 7vh;
    margin: 0.5vh;
    margin-left: 1vh;
    font-size: 4vh;
}



#gamePage #modalInputContainer {
    text-align: center;
}

#gamePage .turnsInput * {
    text-align: center;
}

#gamePage #targetZoom {
    display: none;
    position: absolute;
    top: 0vh;
    left: 10vw;
    width: 10vw;
    height: 10vw;
    border: 1px solid black;
    border-radius: 50%;
}


#roomManager_btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
}





/* HISTORIC */

/* Used to center secondary-content (icons edit, delete, graph) */
#historicPage .collection .collection-item {
    margin-bottom: 2vh;
}
#historicPage .collection .collection-item.avatar .secondary-content {
    top: 33%;
    height: 33%;
}

/* Used to margin-top icons*/
#historicPage .content {
    margin-top: 4px;
}

/* Used to center avatar on profiles page */
#historicPage .center-avatar {
    top:25%;
    left: 0%;
    position: absolute;
}

#historicPage .title {
    font-weight: bold;
}

#historicPage .btn-floating {
    margin-right: 7px;
}













/* VERSION PORTABLE */
@media (max-device-aspect-ratio: 1/1) {
    /* NEW GAME */
    #newgamePage #addPlayer_btn {
        width: 10vw;
        height: 10vw;
        right: 2vw;
    }
    #newgamePage #addPlayer_btn i {
        width: 10vw;
        height: 10vw;
        font-size: 8vw;
    }

    #newgamePage #player-selection{
        height: 10vh;
        padding-right: 8vw;
    }
    #newgamePage #player-selection .waves-effect{
        width: 10vh;
        margin: 1vw;
        height: 10vh;
        line-height: 10vh;
        font-size: 3vh;
    }

    #newgamePage .btn-game-mode{
        height: 5vh;
        line-height: 5vh;
    }
    #newgamePage .btn-game-mode>i{
        font-size: 4vh;
    }
    
    #newgamePage #section-start-game .btn{
        width: 50vw;
        max-width: 90vw;
        position: absolute;
        bottom: 10vh;
        left: 25vw;
    }



    /* GAME */
    #gamePage {
        /* height: 100vh; */
        /* width: 100vw; */
    }



    #gamePage #hideTurns_btn {
        top: 22vh;
        left: 10px;
    }

    /* turns containers */
    #gamePage #turnsContainer {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        overflow-x: auto;
        margin: 2px;
    }

    #gamePage .rowTurn {
        display: inline-block;
        width: 50%;
        height: 100%;
        line-height: 10vh;
        text-align: center;
        border-top: 2px solid white;
    }

    #gamePage .turnPlayerName {
        height: 50%;
        width: 100%;
        background-color: #81d4fa;

        padding-left: 5px;
        padding-right: 5px;
    }

    #gamePage .arrows {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: 0;
        background-color: #e1f5fe;
        margin-left: 1px;
    }

    #gamePage .arrow {
        min-width: 6vw;
        border-left: 1px solid white;
        border-right: 1px solid white;
        font-size: 3vw;
    }

    #gamePage .modifyTurn {
        position: absolute;
        right: 0vw;
        background-color: #e1f5fe;
        color: #F44336 !important;
        margin: 5px;
        font-size: 3vh;
    }








    #gamePage #canvasContainer {
        margin: auto;
        display: flex;
        height: 80vh;
        width: 100vw;
    }
    #gamePage #canvasDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        width: min(100vw, 80vh);
        height: min(100vw, 80vh);
    }

    #gamePage .actualPlayer {
        border-top: 3px solid green;
        border-left: 0px solid transparent;
    }

    #gamePage #actualRound {
        border-left: 1px solid black;
    }


    #gamePage #totalPlayerScore {
        height: 20vh;
        width: 100vw;
        top: 80vh;
        left: 0;
        flex-direction: row;
    }

    #gamePage .totalPlayer {
        min-width: 25vw;
        position: relative;
    }


    #gamePage .totalPlayer .material-icons {
        position: absolute;
        width: 6vh;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 5px;
        left: calc(50% - 3vh);
    }


    #gamePage .playerPart {
        position: absolute;
        left: 0;
        top: 0;
        flex-direction: row;
    }
 


    #gamePage #leftArrowsPart {
        top: 0vh !important;
        left: 20vw;
        width: 80vw;
        height: 10vh !important;

        z-index: 9;

        display: flex;
        flex-direction: row;
    }

    #gamePage #leftArrowsPart .arrowItem {
        margin: auto;
    }

    #gamePage #targetZoom {
        width: 10vh;
        height: 10vh;
    }
}



/* ############################################### TEST ############################################### */



.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circles-nested {
  height: 100%;
  width: 100%;
  position: relative;
}
.circles-nested div {
  overflow-y: hidden;
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(243, 8, 8, 0.5);
  animation: animate 25s linear infinite;
  bottom: -150px;
  border-radius: 0.3em;
}
.circles-nested div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: -5s;
}
.circles-nested div:nth-child(2) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles-nested div:nth-child(3) {
  left: 15%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles-nested div:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: -12s;
  animation-duration: 18s;
}
.circles-nested div:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: -8s;
}
.circles-nested div:nth-child(6) {
  left: 45%;
  width: 110px;
  height: 110px;
  animation-delay: -10s;
}
.circles-nested div:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles-nested div:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles-nested div:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles-nested div:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: -8s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0.3;
  }
}
